<div class="container sheet" >	
	
	<div class="s4sm12">		
		<navbar></navbar>
		<img class="logo" src="images/Earthdawn-logo.png" />		
						
		<div class="s12 section">	
			<div class="header">Steigerung Attributswerte</div>								
			<attribute-rank-cost-table></attribute-rank-cost-table>		
		</div>
		
		<div class="s12 section">	
			<div class="header">Steigerung Fertigkeitsränge</div>								
			<skill-rank-cost-table></skill-rank-cost-table>		
		</div>		
		
		
	</div>
		
	<div class="s8med12 section">								
		<div class="header">Kosten Talentränge</div>								
		<talent-rank-cost-table></talent-rank-cost-table>					
	</div>

	<div class="s8med12 section">								
		<div class="header">Aufstigsbedingungen</div>								
		<circle-advancement-table></circle-advancement-table>					
	</div>
	
</div>      	