<div class="container sheet" >	
	
	<div class="s4sm12">		
		<navbar></navbar>
		<img class="logo" src="images/Earthdawn-logo.png" />		
						
		<div class="s12 section">	
			<div class="header">Zitat - Plato</div>												
            <span>Nur die Toten haben das Ende des Krieges gesehen.</span>
		</div>
        
		<div class="s12 section" style="min-height:95px">
			<div class="header">Würfelbrett</div>								
			<dice-board></dice-board>									
		</div>        
		
	</div>
	
	
    <div class="s8med12 section">								
			<div class="header">Kampf</div>								
			
			<span>Initiative: </span>

			<span><button (click)="beginCombat($event)">Kampf beginnen</button></span><br/>

			<select >
				<option *ngFor="let iniAction of IniActionList" value= {{iniAction.Id}}>
				   {{iniAction.Name}}
				</option>
			  </select>


			<span *ngFor="let g of IniActionList">
				{{g.name}}
				{{g.Name}}

			</span>

			<span>Runde: 2</span><br/>
			
			<span>Initiative: 9</span>
			<span>Gewürfelt: 5 (Lufttanz) + 3 (Tigersprung) + 1 (magische Stiefel) <a href="modifyRolledIni">+</a></span><br/>
						

			<span>Angriff: </span>
			<span>Schaden: </span>

			


	</div>	


	
</div>      	