<div class="container sheet" >	
	
	<div class="s4sm12">		
		<navbar></navbar>
		<img class="logo" src="images/Earthdawn-logo.png" />		
						
		<div class="s12 section">	
			<div class="header">Zitat - Plato</div>												
            <span>Nur die Toten haben das Ende des Krieges gesehen.</span>
		</div>
        
		<div class="s12 section" style="min-height:95px">
			<div class="header">Würfelbrett</div>								
			<dice-board [displayHistory]="true"></dice-board>									
		</div>        
		
	</div>
	
	
    <div class="s8med12 section">								
			<div class="header">Kampf</div>		
						
			<div class="s7sm12 container">
				<span>Schaden <input [(ngModel)]="damageInput" style="width: 40px;" /></span><button (click)="takeDamage()">+</button><button (click)="reduceDamage()">-</button><br/>
				<span>Initiative: </span>
				
				<select [(ngModel)]="selectedIniAction"  >
					<option *ngFor="let iniAction of IniActionList" [ngValue]="iniAction">
					   {{iniAction.Name}}
					</option>
				  </select>
				<span>Modifikator</span>
				<button (click)="rollIni()">Würfeln</button>
																
			</div> 

			<div class="s5sm12 container">								
				<div class="s4">
					<div class="numberCircleHeader">Aktuell</div>
					<div class="numberCircle">{{damage}}</div>
				</div>
				<div class="s4">
					<div class="numberCircleHeader">Wunden</div>
					<div class="numberCircle">1</div>
				</div>
				<div class="s4">
					<div class="numberCircleHeader">Blutmagie</div>
					<div class="numberCircle">0</div>
				</div>			
			</div>
			
			<div *ngIf="combat.isActive" class="s12">
				<span>Runde: {{combat.Round}}</span><br/>
				<span *ngIf="IniRoll">Initiative: {{IniRoll.Result}} ({{IniRoll.Dice }}) </span><br/>																	
				<span>Angriff: </span>
				<select [(ngModel)]="selectedAttackAction"  >
					<option *ngFor="let attackAction of AttackActionList" [ngValue]="attackAction">
					   {{attackAction.Name}}
					</option>
				  </select>
				<span>Modifikator</span>
				<button (click)="rollAttack()">Würfeln</button>				
				
				
				<br/>
				<span>Schaden: </span><br/>
				<span><button (click)="endCombat()">Kampf Ende</button></span><br/>
			</div>



			


	</div>	


	
</div>      	