<div class="container">
	<span class="cl s4med2sm4">&nbsp;</span>
	<span class="s1">&nbsp;</span>
	<span class="s2med2sm1">Wert</span>
	<span class="s2med2sm1">Stufe</span>
	<span class="s3">Würfel</span>

	<attribute name="Geschicklichkeit" type="DEX"></attribute>
	<attribute name="Stärke" type="STR"></attribute>
	<attribute name="Zähigkeit" type="TOU"></attribute>
	<attribute name="Wahrnehmung" type="PER"></attribute>
	<attribute name="Willenskraft" type="WIL"></attribute>
	<attribute name="Charisma" type="CHA"></attribute>
	
</div>