<div class="container">
	<span class="cl s4med2sm4">&nbsp;</span>
	<span class="s1">&nbsp;</span>
	<span class="s2med2sm1">Wert</span>
	<span class="s2med2sm1">Stufe</span>
	<span class="s3">Würfel</span>

	<attribute Name="Geschicklichkeit" Type="DEX"></attribute>
	<attribute Name="Stärke" Type="STR"></attribute>
	<attribute Name="Zähigkeit" Type="TOU"></attribute>
	<attribute Name="Wahrnehmung" Type="PER"></attribute>
	<attribute Name="Willenskraft" Type="WIL"></attribute>
	<attribute Name="Charisma" Type="CHA"></attribute>
	
</div>