@font-face {
    font-family: "My Custom Font";
    src: url("fonts/nyala.TTF") format("truetype");
}

body{
	font-family: "My Custom Font";
	background-color: white;	
	font-size:18px;
}

.sheet{
	background-color: #98FB98;
	box-shadow: 10px 10px 5px #888888;
}

.section{
	background-color: #bfffba;	
	border-color: black;
	border: 1px solid;
	margin: 10px 10px 10px 10px;
	
}


.section .header{
	border-color: black;
	border-bottom: 1px solid black;
	
	background-color:#10c75a;
	color: white;
	font-size:22px;
	text-transform: uppercase;
	
	padding-right: 15px;
	padding-left: 15px;
}