<span class="s4sm12 cl">Talent-</span>
<span class="s2sm3">Kreis</span>
<span class="s2sm3">Kreis</span>
<span class="s2sm3">Kreis</span>
<span class="s2sm3">Kreis</span>

<span class="s4sm12 cl">rang</span>
<span class="s2sm3">1-4</span>
<span class="s2sm3">5-8</span>
<span class="s2sm3">9-12</span>
<span class="s2sm3">13-15</span>

<span *ngFor="let t of costTable">
	<span class="s4sm12 cl">{{t[0]}}</span>
	<span class="s2sm3">{{t[1]}}</span>
	<span class="s2sm3">{{t[2]}}</span>
	<span class="s2sm3">{{t[3]}}</span>
	<span class="s2sm3">{{t[4]}}</span>
</span>