@import "susy";


$susy: (
  columns: 12,
  gutters: 0.25, 
  gutter-position: split,
);

.container {
	@include container(1280px);		
	@include susy-clearfix;
	padding: gutter(12);
}
 
.cl{
	clear: left;
}

.cr{
	clear: right;
}
 
$small: 580px;
$medium: 980px; 
$large: 1280px;

.s1{
	@include span(1 of 12 border-box);	
}  

.s2{
	@include span(2 of 12 border-box);	
}  

.s3{
	@include span(3 of 12 border-box);	 	
}  

.s4{
	@include span(4 of 12 border-box);	 	
}  

.s5{
	@include span(5 of 12 border-box);	 	
}  

.s6{
	@include span(6 of 12 border-box);	 	
}  

.s7{
	@include span(7 of 12 border-box);	 	
}  
 
.s2med2sm1{
	@include span(2 of 12 border-box);	
	@media screen and (max-width: $medium) {
		@include span(1 of 12 border-box);	 	
	}
	@media screen and (max-width: $small) {
		@include span(2 of 12 border-box);	 	
	}	
}  

.s2sm3{
	@include span(2 of 12 border-box);		
	@media screen and (max-width: $small) {
		@include span(3 of 12 border-box);	 	
	}	
} 

.s3sm4{
	@include span(3 of 12 border-box);	
	@media screen and (max-width: $small) {
		@include span(4 of 12 border-box);	 	
	}	
}  

 
.s4med2sm4{
	@include span(4 of 12 border-box);	
	@media screen and (max-width: $medium) {
		@include span(2 of 12 border-box);	 	
	}
	@media screen and (max-width: $small) {
		@include span(4 of 12 border-box);	 	
	}	
} 
 
.s4med12{
	@include span(4 of 12 border-box);	 

	@media screen and (max-width: $medium) {
		@include span(12 of 12 border-box);	 	
	}	
}

.s4sm12{
	@include span(4 of 12 border-box);	 

	@media screen and (max-width: $small) {
		@include span(12 of 12 border-box);	 	
	}	
}

.s5sm12{
	@include span(5 of 12 border-box);	 
	
	@media screen and (max-width: $small) {
		@include span(12 of 12 border-box);	 	
	}	
}  
 
 
.s7sm12{
	@include span(7 of 12 border-box);	 
	
	@media screen and (max-width: $small) {
		@include span(12 of 12 border-box);	 	
	}	
}  
 
.s8med12{
	@include span(8 of 12 border-box);	
	@media screen and (max-width: $medium) {
		@include span(12 of 12 border-box);	 	
	}
} 
 
.s8sm12{
	@include span(8 of 12 border-box);	
	@media screen and (max-width: $small) {
		@include span(12 of 12 border-box);	 	
	}
} 



  

 
