@import "susy";


$susy: (
  columns: 12,
  gutters: 0.25, 
  gutter-position: split,
);

.container {
	@include container(1280px);		
	@include susy-clearfix;
	padding: gutter(12);
}
 
.cl{
	clear: left;
}

.cr{
	clear: right;
}
 
$small: 480px;
$medium: 768px; 
$large: 1280px;

.s4sb{
	@include span(4 of 12 border-box);	 

	@media screen and (max-width: $small) {
		@include span(12 of 12 border-box);	 	
	}	
}
 
.s8sb{
	@include span(8 of 12 border-box);	
	@media screen and (max-width: $small) {
		@include span(12 of 12 border-box);	 	
	}
} 

.s4{
	@include span(4 of 12 border-box);	 
	
	@media screen and (max-width: $medium) {
		@include span(6 of 12 border-box);	 	
	}
	@media screen and (max-width: $small) {
		@include span(12 of 12 border-box);	 	
	}	
}  

  

.s8{
	@include span(8 of 12 border-box);	
	
	@media screen and (max-width: $medium) {
		@include span(12 of 12 border-box);	 	
	}
}  