<span class="s4sm12 cl"><span class="remark">Kreis 1-4</span></span>
<span class="s2sm3">Rang</span>
<span class="s2sm3">Attr. Stufe</span>
<span class="s2sm3">Gesamt</span>
<span class="s2sm3">Würfel</span>

<span class="s4sm12 cl">Fadenweben</span>
<span class="s2sm3">4</span>
<span class="s2sm3">9</span>
<span class="s2sm3">13</span>
<span class="s2sm3">w12w10</span>

<span class="s4sm12 cl">Karmaritual</span>
<span class="s2sm3">3</span>
<span class="s2sm3">-</span>
<span class="s2sm3">-</span>
<span class="s2sm3">-</span>

<span class="s4sm12 cl">Lesen/ Schreiben</span>
<span class="s2sm3">3</span>
<span class="s2sm3">9</span>
<span class="s2sm3">12</span>
<span class="s2sm3">2w10</span>

<span class="s4sm12 cl">Spruchzauberei</span>
<span class="s2sm3">4</span>
<span class="s2sm3">9</span>
<span class="s2sm3">13</span>
<span class="s2sm3">w12w10</span>

<span class="s4sm12 cl">Zauberbücher verstehen</span>
<span class="s2sm3">2</span>
<span class="s2sm3">9</span>
<span class="s2sm3">11</span>
<span class="s2sm3">w10w8</span>

<span class="s4sm12 cl">Zaubermatrix</span>
<span class="s2sm3">2</span>
<span class="s2sm3">-</span>
<span class="s2sm3">-</span>
<span class="s2sm3">-</span>

<span class="s4sm12 cl">Zaubermatrix</span>
<span class="s2sm3">2</span>
<span class="s2sm3">-</span>
<span class="s2sm3">-</span>
<span class="s2sm3">-</span>

<span class="s4sm12 cl">Magische Maske</span>
<span class="s2sm3">3</span>
<span class="s2sm3">9</span>
<span class="s2sm3">12</span>
<span class="s2sm3">2w10</span>

<span class="s4sm12 cl">Unempfindlichkeit (4/3)</span>
<span class="s2sm3">3</span>
<span class="s2sm3">-</span>
<span class="s2sm3">-</span>
<span class="s2sm3">-</span>

<span class="s4sm12 cl">Zaubermatrix</span>
<span class="s2sm3">3</span>
<span class="s2sm3">-</span>
<span class="s2sm3">-</span>
<span class="s2sm3">-</span>

<span class="s4sm12 cl">Fremdsprachen</span>
<span class="s2sm3">2</span>
<span class="s2sm3">9</span>
<span class="s2sm3">11</span>
<span class="s2sm3">w10w8</span>

<span class="s4sm12 cl">Totstellen</span>
<span class="s2sm3">4</span>
<span class="s2sm3">7</span>
<span class="s2sm3">11</span>
<span class="s2sm3">w10w8</span>