<div class="container sheet">	
	<div class="s4sm12">
		<navbar></navbar>
		<img class="logo" src="images/Earthdawn-logo.png" />				
	</div>	
	<div class="s8med12 section">
		<div class="header">Zaubersprüche</div>										
			<h5>Kreis 1</h5>
			<span>Abbild Versetzen</span><br/>
			<span>Beruhigende Berührung</span><br/>
			<span>Bettlerbörse</span><br/>
			<span>Falsches Gesicht</span><br/>
			<span>Licht</span><br/>			
			<span>Metalle Tarnen</span><br/>
			<span>Seiltrick</span><br/>
			<span>Unsichtbare Stimmen</span><br/>			
			<h5>Kreis 2</h5>						
			<span>Blitz</span><br/>
			<span>Harmloses Treiben</span><br/>
			<span>Illusionärer Blitz</span><br/>
			<span>Listiger Gedanke</span><br/>
			<span>Schneider</span><br/>
			<span>Schreckgestalt</span><br/>
			<span>Wetterfest</span><br/>
			<h5>Kreis 3</h5>
			<span>Alarm</span><br/>						
			<span>Ersticken</span><br/>
			<span>Falscher Boden</span><br/>
			<span>Gedankennebel</span><br/>
			<span>Karmadämpfung</span><br/>
			<span>Niemand Da</span><br/>
			<span>Unmögliches Schloss</span><br/>
	</div>	
	
	
</div>	