<div class="container sheet" ng-controller="characterOverviewController">	
	
	<div class="s4sm12">	
		<navbar></navbar>
		<img class="logo" src="images/Earthdawn-logo.png" />		
	</div>
		
	<div class="s8sm12 section">								
		<character-description></character-description>			
	</div>
								
	<div class="s4med12 container cl" style="padding-top:0;">

		<div class="s12 section">
			<div class="header">Würfelbrett</div>								
			<dice-board></dice-board>									
		</div>
	
		<div class="s12 section">
			<div class="header">Attribute</div>
			<attribute-list></attribute-list>
		</div>					
	 
		<div class="s12 section">
			<div class="header">Karma</div>								
			<karma></karma>
		</div>
	
		<div class="s12 section">
			<div class="header">Sprachen</div>
									
			<span ng-repeat="language in getLanguages()" class="tooltip">
				{{language.Name}}
				</br>
				<span class="tooltiptext">{{language.Note}}</span>				
			</span>									

		</div>							
		
		<div class="s12 section">
			<div class="header">Legendenpunkte</div>
									
			<span>Aktuell: {{getCurrentLegendPoints()| number }}</span><br/>
			<span>Gesamt: {{getTotalLegendPoints() | number }}</span><br/>
			<span>Legendenstatus: {{getLegendStatus()}} </span>
		</div>						
		
		<div class="s12 section">
			<div class="header">Abenteuer</div>
									
			<adventure-widget></adventure-widget>
		</div>						
		
		<div class="s12 section">
			<div class="header">Vermögen</div>
									
			<span>Kupfer: {{getWallet().Copper}}</span><br/>
			<span>Silber: {{getWallet().Silver}}</span><br/>
			<span>Gold: {{getWallet().Gold}}</span>
		</div>	
		
		<div class="s12 section">
			<div class="header">Ausrüstung</div>

			<span ng-repeat="item in getEquipment()">
				{{item}}
				</br>
			</span>
			
		</div>				
	
	</div>
	 
	<div class="s8med12 section">
		<div class="header">Charakteristika</div>
						
		<div class="s7sm12">					
			<h5>Widerstandskraft</h5>														
			<div class="container">
				<div class="s3sm4">
					<div class="numberCircleHeader">Körperlich</div>
					<div class="numberCircle">9</div>
				</div>
				<div class="s3sm4">
					<div class="numberCircleHeader">Magisch</div>
					<div class="numberCircle">11</div>
				</div>
				<div class="s3sm4">
					<div class="numberCircleHeader">Sozial</div>
					<div class="numberCircle">10</div>
				</div>
			</div>
		</div>
		<div class="s5sm12">					
			<h5>Rüstung</h5>														
			<div class="container">
				<div class="s4">
					<div class="numberCircleHeader">Physikalisch</div>
					<div class="numberCircle">0</div>
				</div>
				<div class="s4">
					<div class="numberCircleHeader">Mystisch</div>
					<div class="numberCircle">2</div>
				</div>
			</div>																					
		</div>

		<div class="s6 cl">
			<h5>Initiative</h5>
			<span>Ges. Stufe: 5</span><br/>
			<span>Rüstungsmod: 0</span><br/>
			<span>Stufe/ Würfel: w8</span>
		</div>
		<div class="s6">
			<h5>Laufleistung</h5>
			<span>Gang: 30/15</span>
			<span>Flug: 60/30</span>
			
			<h5>Stärke</h5>
			<span>Traglast: 10</span>
			<span>Heblimit: 20</span>
		</div>								
		
	</div>				
	
	<div class="s8med12 section">
		<div class="header">Talente</div>			
		<talent-list></talent-list>									
	</div>	
		
	<div class="s8med12 section">
		<div class="header">Fertigkeiten</div>			
		<skill-list></skill-list>										
	</div>
		
	<div class="s8med12 section">
		<div class="header">Schaden</div>
		
		<div class="s5sm12 container">								
			<div class="s4">
				<div class="numberCircleHeader">Aktuell</div>
				<div class="numberCircle">11</div>
			</div>
			<div class="s4">
				<div class="numberCircleHeader">Wunden</div>
				<div class="numberCircle">1</div>
			</div>
			<div class="s4">
				<div class="numberCircleHeader">Blutmagie</div>
				<div class="numberCircle">0</div>
			</div>
			
		</div>							
		<div class="s7sm12 container">					
			<div class="s7sm12">
				<span>Verwundungsschwelle: 7</span><br/>
				<span>Bewusstlosigkeitsschwelle: 31</span><br/>
				<span>Todesschwelle: 44</span>
			</div>
			<div class="s5sm12">
				<span>Erholungsproben: 2</span>
				<span>Erholungswürfel: w6</span><br/>											
			</div>																												
		</div>							
	
	</div>							
		
						
	
	
</div>      	