<div class="container sheet">	
	<div class="s4sm12">
		<navbar></navbar>
		<img class="logo" src="images/Earthdawn-logo.png" />	
		<div class="s12 section">
			<div class="header">Gruppe</div>
									
			<span>Frederic N. - TokTokTok - Troll Elementarist </span><br/><br/>
			<span>Adrian (Herp. D.) - Pyke - Menschen Illusionist</span><br/><br/>
			<span>Diddi - Soya - Elf Krieger, männlich, blond, schlank, Hitman of Hitman, war im Kanst, Grund vergessen</span><br/><br/>
			<span>Kevin - Neldir Oreldir - Elf Geisterbeschwörer, 98 Jahre, 190cm, schlank, rote haare</span><br/><br/>
			<span>Ralf - Bog - Ork Krieger - Streitkolben</span><br/><br/>
			<span>Mathias - Tra'Orroz - Skrang (Schwertmeister?) - spanischer Degen</span><br/><br/>
			<span>Manja - Ihrks - Windling Dieb</span><br/><br/>
		</div>	
	</div>	
	<div class="s8med12 section">
		<div class="header">Abentuer Tagebuch</div>										

			
			<h5 class="">Reise in die Zukunft (16.3.2017)</h5>
			<span>Legendenpunkte: 1.600</span><br/>
			<span>
			
			</span>
			<br/>
			
			
			<span>Die Bauernrevolte beenden (13.4.2017)[2.000 LP]</span><br/>
			<span>Diplomatisches Gemetzel an der Wassersäule (16.5.2017)[2.300 LP]</span><br/>
			<span>Wieder nicht ins Archiv geschafft (5.6.2017)[2.500 LP]</span>
			<span>Aslani muss brennen! (13.07.2017)[2.800 LP]</span>
		
	</div>	 
	
	
</div>	