<div class="container sheet">	
	<div class="s4sm12">
		<navbar></navbar>
		<img class="logo" src="images/Earthdawn-logo.png" />	
		<div class="s12 section">
			<div class="header">Gruppe</div>
									
			<span>Frederic N. - TokTokTok - Troll Elementarist </span><br/><br/>
			<span>Adrian (Herp. D.) - Pyke - Menschen Illusionist</span><br/><br/>
			<span>Diddi - Soya - Elf Krieger, männlich, blond, schlank, Hitman of Hitman, war im Kanst, Grund vergessen</span><br/><br/>
			<span>Kevin - Neldir Oreldir - Elf Geisterbeschwörer, 98 Jahre, 190cm, schlank, rote haare</span><br/><br/>
			<span>Ralf - Bog - Ork Krieger - Streitkolben</span><br/><br/>
			<span>Mathias - Tra'Orroz - Skrang (Schwertmeister?) - spanischer Degen</span><br/><br/>
			<span>Manja - Ihrks - Windling Dieb</span><br/><br/>
		</div>	
	</div>	
	<div class="s8med12 section">
		<div class="header">Abentuer Tagebuch</div>										

			<div ng-repeat="logEntry in getAdventureLog()">
				<h5 class="">{{logEntry.Title}} ({{logEntry.Date}})</h5>
				<span>Legendenpunkte: {{logEntry.LegendPoints}}</span><br/>
				<span ng-repeat="txt in logEntry.Text">
					{{txt}}<br/>
				</span>
				<br/>
			</div>
					
	
		
	</div>	 
	
	
</div>	